$offwhite: #f7f7f7;
$white: #ffffff;
$black: #000000;
$grey-lightest: #b7b7b7;
$grey-lighter: #959595;
$grey: #777777;
$grey-darker: #5b5b5b;
$grey-darkest:#333333;

$form-input-background-color: #dcdcdc;

$ekr-red: #b6070d;

$base-font-size: 16px;

$base-border-radius: .35em;
